<div class="_11REZb" data-automation-id="review-item-0">
  <div class="abwJ5F _16AW_S _2LF_6p _16oQcu">
    <a
      href="/gp/profile/amzn1.account.AG3ZKDX3ZKHSUHW6QGVLPW5D76MQ/ref=atv_dp_cp_url"
      class="_5hfyPy"
      aria-label="Customer Profile link"
      data-automation-id="customer-profile-link-0"
      ><img
        class="_64RvqP"
        aria-label="Customer Profile link"
        loading="lazy"
        src="https://www.amazon.co.uk/avatar/default/amzn1.account.AG3ZKDX3ZKHSUHW6QGVLPW5D76MQ?max_width=50&amp;square=true"
        alt=""
      /><span class="_1anNt2">Review Ratings</span></a
    ><span class="OE3LSa"
      >Reviewed in the United Kingdom on 02 September 2022</span
    >
  </div>
  <div class="abwJ5F _16AW_S _2LF_6p _16oQcu">
    <span class="_3PfIMz _1I_IFp ghzfef dvui-tooltip-container"
      ><label for="tooltip-87fs55gfq6w" class="_2gl_vG" tabindex="0"
        ><div class="_2PZs_B _2P6ICV">
          <div class="_1UiYYY"></div>
          <div class="_2tKs5V"></div>
          <div class="_2tKs5V"></div>
          <div class="_2tKs5V"></div>
          <div class="_2tKs5V"></div></div></label
      ><span
        id="tooltip-87fs55gfq6w"
        class="_1bS_Hq dvui-tooltip"
        style="margin-left: 0"
        ><div class="drR4-f">
          <span
            data-automation-id="review-rating-tooltip-0"
            data-testid="review-rating-tooltip-0"
            class="_36qUej"
            >1.0 out of 5 stars</span
          >
        </div></span
      ></span
    ><strong dir="auto"
      >Unlikable and disappointing, issues in most aspects.</strong
    >
  </div>
  <div class="mlmPSf _1WXK_3 f11d1lkh">
    <input
      type="checkbox"
      id="review-expander-0"
      class="wgGFDs"
      disabled=""
    /><label for="review-expander-0" class="_1W5VSv"></label>
    <div class="_3qsVvm _1wxob_">
      <div dir="auto">
        It’s wholeheartedly boring and uninteresting. Owed to the problems in
        production and lack of decent direction. It’s not nerdy enough for
        Tolkien fans and too nerdy for new audiences. I fear it will do both a
        disservice.<br /><br />The main protagonist suffers as many characters
        do these days. She’s painfully unlikable, arrogant and abrasive. We get
        no emotion or character flaws, keeping her 2 dimensional and
        monotone.<br /><br />The writing has the poetic flair of Tolkien at his
        high points though it becomes overused and old quick, giving it no flow
        or subtlety. Thus, there’s very little emotion invoked making difficult
        to invest in the plot.<br /><br />Plot wise we’re also thrown around the
        world constantly, with little coherence or pacing. Making no storyline
        or characters journey interesting enough to be keen to return.<br /><br />Whilst
        there’s an attempt at the grit and realism found in the original LOTR
        trilogy again it feels disingenuous and any momentum is lost on the
        failure to feel like middle earth with the creative changes.<br /><br />The
        scope feels impressive in a few places, set design feels strong and
        considered. Though these moments are short and only appear for a few
        shots before we get an uncomfortable close up on boring and unbelievable
        characters. I understand this could be a translation from cinima tic
        media to television, however the writing just isn’t there.<br /><br />It
        suffers from, what feels like, studio intervention to drive a message or
        appeal to a new audience. This or the directors, writers and just shear
        number of cooks on this project were all out of touch with the source
        material.<br /><br />The score and music is tragically disappointing. No
        decent hook or motifs, and the majority of the time it sounds like
        disorganised and unwanted noise.<br /><br />This is not a series for
        LOTR fans and due to its reliance on the source materials I’m
        disappointed. Without its relation I imagine it would have been a decent
        stand alone experience. But it’s more well suited to a new IP that pays
        homage to tolkeins work, not one that attempts to tell his stories.
      </div>
    </div>
  </div>
  <span class="_2sCceF">1097 people found this helpful</span>
  <div class="_1ZRB-9">
    <button
      data-automation-id="helpful-button-0"
      data-testid="helpful-button-0"
      class="_3od6LW _3RF4FN _1D7HW3 _2G6lpB zfFfQG"
      role="button"
      aria-live="polite"
      aria-label="Helpful"
    >
      Helpful</button
    ><span class="_28lp9F"
      ><button
        id="reportAbuseTrigger"
        class="_1O7K2I"
        aria-label="Report abuse"
        data-automation-id="report-abuse-link-0"
      >
        Report abuse
      </button></span
    >
  </div>
</div>
